.footer__column-link {
    padding: 0;
    margin: 0;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    opacity: 1;
    transition: opacity  linear 1s;
}

.footer__column-link:hover{
    opacity: .7;
}